
aj3.egg-info/dependency_links.txt
aj3.egg-info/PKG-INFO
aj3.egg-info/SOURCES.txt
aj3.egg-info/top_level.txt
aj3/.DS_Store
*.pyc
.idea/ChatGPTCopilotChannelManager.xml
.idea/workspace.xml
.idea/
*.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/jupyter-settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
